[KDE Backdeck]
Name=Full Color Futurama Cards
Comment=Futurama card collection
Preview=back.png
SVG=Color_Futurama_Cards.svgz
Back=Futurama Card
Default=true
